In [ ]:
#Print all elements of a list using for loop
a = [10, 20, 30, 40, 50]
for x in range(len(a)):
    print (a[x])

10
20
30
40
50

In [ ]:
#A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.
service_year = int(input("How many years have you worked with us?"))
salary = float(input("what is your current salary?"))
if service_year > 5:

   print("Your Net bonus is",0.05*salary)

How many years have you worked with us?7
what is your current salary?30000
Your Net bonus is 1500.0

In [ ]:
#Take input of age of 3 people by user and determine oldest and youngest among them.
firstperson = eval(input("Enter age of firstperson : "))
secondperson = eval(input("Enter age of secondperson : "))
thirdperson = eval(input("Enter age of thirdperson : "))

if firstperson > secondperson and firstperson > thirdperson:
    print("First Person is oldest")
elif secondperson > firstperson and secondperson > thirdperson:
    print("Second Person is oldest")
elif thirdperson> firstperson and thirdperson > secondperson:
    print("Third Person is oldest")

if firstperson < secondperson and firstperson < thirdperson:
    print("First Person is youngest")
elif secondperson < firstperson and secondperson < thirdperson:
    print("Second Person is youngest")
elif thirdperson < firstperson and thirdperson < secondperson:
    print("Third Person is youngest")

Enter age of firstperson : 50
Enter age of secondperson : 40
Enter age of thirdperson : 30
First Person is oldest
Third Person is youngest

In [ ]:
#A school has following rules for grading system:a. Below 25 - F,b. 25 to 45 - E,c. 45 to 50 - D,d. 50 to 60 - C,e. 60 to 80 - B,f. Above 80 - A. Ask user to enter marks and print the corresponding grade.

In [ ]:
score=int(input("enter your score: "))
if score < 25:
    print("F")
elif 25 < score <= 45:
    print("E")
elif 45 < score <= 50:
    print("D")
elif 50 < score <= 60:
    print("C")
elif 60 < score <= 80:
    print("B")
elif score > 80:
    print("A")

enter your score: 99
A

In [ ]:
#Write a Python script to merge two Python dictionaries
diction1 = {'a': 100, 'b': 200}
diction2 = {'x': 300, 'y': 200}
d = diction1.copy()
d.update(diction2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
#Write a python program to get the largest number from a list
def largest_num( list ):  
    max = list[ 0 ]  
    for a in list:  
        if a > max:  
            max = a  
    return max  
print(largest_num([7, 3, 9, 0, -5]))

9

In [ ]:
#Write a python program to remove a key from a dictionary
myD = {'a':2,'b':4,'c':6,'d':8}
print(myD)
if 'a' in myD: 
    del myD['a']
print(myD)

{'a': 2, 'b': 4, 'c': 6, 'd': 8}
{'b': 4, 'c': 6, 'd': 8}